<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Electric Reporter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <style type="text/css">
    .fas1 {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
        }
    }

    .sidebar .nav-link {
        font-weight: 500;
        color: #333;
    }

    .sidebar .nav-link .fas1 {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

    .sidebar .nav-link:hover .fas1,
    .sidebar .nav-link.active .fas1 {
        color: inherit;
    }

    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }
    </style>
</head>

<body>
    <!-- Start NAV BAR -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#"><i class="fas fa-bolt"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="mainNav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                {% if sess.permission == 1 %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('settings')}}">Settings<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                <li class="nav-item d-block d-sm-block d-md-none" name="user">
                    <a class="nav-link" data-toggle="tab" href="#home">
                        User Management
                    </a>
                </li>
                <li class="nav-item d-block d-sm-block d-md-none" name="iot">
                    <a class="nav-link" data-toggle="tab" href="#menu1">
                        IoT Management
                    </a>
                </li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-transparent" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    {% if sess.permission == 1 %}
                    <i class="fas fa-user-cog text-white"></i>
                    {% else %}
                    <i class="fas fa-user text-white"></i>
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-right">
                    <h6 class="dropdown-header">Welcome {{sess.username}}</h6>
                    <div class="dropdown-divider"></div>
                    <a href="{{url_for('AUTH.logout')}}" class="dropdown-item" type="button">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End NAV BAR -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column" id="pageNav">
                        <li class="nav-item active">
                            <a class="nav-link active" data-toggle="tab" href="#home" name="user">
                                <i class="fas fas1 fa-users"></i>
                                User Management
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1" name="iot">
                                <i class="fas fas1 fa-microchip"></i>
                                IoT Management
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2" name="report">
                                <i class="fas fas1 fa-file"></i>
                                Report
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="tab-content">
                    <div id="home" class="tab-pane in active mt-4">
                        <button class="btn btn-success float-right mb-2" data-toggle="modal" data-target="#exampleModal">Add</button>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Permission</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{ user[0] }}</td>
                                    <td>
                                        <select class="custom-select" onchange="permission('{{ user[0] }}',this)">
                                            {% if user[2] == 1 %}
                                            <option value="1" selected>Admin</option>
                                            <option value="0">User</option>
                                            {% else %}
                                            <option value="1">Admin</option>
                                            <option value="0" selected>User</option>
                                            {% endif %}
                                        </select>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="{{url_for('ADMIN.delete')}}?username={{ user[0] }}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="menu1" class="tab-pane">
                        <table class="table table-striped mt-2">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Node ID</th>
                                    <th scope="col">Campus</th>
                                    <th scope="col">Building</th>
                                    <th scope="col">Room</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for node in nodes %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{node[0]}}</td>
                                    <td>
                                        <select class="custom-select" name="campus" index="{{loop.index}}" onchange="campusChange(this)">
                                            {% if node[1] is none %}
                                            <option value="" selected>None</option>
                                            {% endif %}
                                            {% if node[1] == 1 %}
                                            <option value="1" selected>Bangsaen</option>
                                            {% else %}
                                            <option value="1">Bangsaen</option>
                                            {% endif %}
                                            {% if node[1] == 2 %}
                                            <option value="2" selected>Juntaburi</option>
                                            {% else %}
                                            <option value="2">Juntaburi</option>
                                            {% endif %}
                                            {% if node[1] == 3 %}
                                            <option value="3" selected>Srakaew</option>
                                            {% else %}
                                            <option value="3">Srakaew</option>
                                            {% endif %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select" name="building" index="{{loop.index}}" onchange="buildingChange(this)">
                                            <option value="{{node[2]}}" selected>{{node[2]}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select" name="room" index="{{loop.index}}" onchange="sendconfig('{{node[0]}}',this)">
                                            <option value="{{node[3]}}" selected>{{node[3]}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="{{url_for('NODE.delete')}}?id={{ node[0] }}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="menu2" class="tab-pane mt-2">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Node ID</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for report in reports %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{report[0]}}</td>
                                    <td>
                                        <input type="text" class="form-control" value="{{report[1]}}" disabled="">
                                    </td>
                                    <td name="ts">{{report[2]}}</td>
                                    <td>
                                        <a class="btn btn-danger text-white" href="{{url_for('NODE.del_report')}}?id={{ report[0] }}&message={{report[1]}}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </main>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{url_for('ADMIN.register')}}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    $("#mainNav").click(function() {
        $("#mainNav").find(".active").removeClass("active");
    });
    let row = $("#menu1 th[scope='row']")
    for (let i = 1; i <= row.length; i++) {
        let select = $('[name ="campus"][index="' + i + '"]').find("option:selected").text();      
        if (select != 'None') {
            campusChange("[name ='campus'][index='" + i + "']");
            var ajax = buildingChange("[name ='building'][index='" + i + "']");
        }
    }
    $("[name='ts']").each(function(){
        let ts = $(this).html()
        $(this).html(toDate(ts))
    });
});

toDate = function(unixtimestamp){
    var dt=eval(unixtimestamp*1000);
    var myDate = new Date(dt);
    return myDate.toLocaleString("en-GB",{ hour12: true });
}
permission = function(username, e) {
    $.get("{{url_for('ADMIN.permission')}}", { username: username, permission: $(e).val() })
        .done(function(data) {
            location.reload();
        });
}
campusChange = function(e) {
    let select = $(e).find("option:selected").text()
    if (select == 'None') {
        return
    }
    let index = $(e).attr('index');
    let oldval = $("[name ='building'][index ='" + index + "'] > option:selected").val()
    $.get("{{url_for('BuildingAPI.index')}}")
        .done(function(data) {
            $("[name ='building'][index ='" + index + "']").html("");
            for (let i = 0; i < data[select].length; i++) {
                let selected = "";
                if (oldval == data[select][i]['building']) {
                    selected = "selected";
                }
                $("[name ='building'][index ='" + index + "']").append('<option ' + selected + ' value="' + data[select][i]['building'] + '">' + data[select][i]['name'] + " - " + data[select][i]['building'] + '</option>');
            }
        });
}
buildingChange = function(e) {
    let select = $(e).find("option:selected").text()
    if (select == 'None') {
        return
    }
    let index = $(e).attr('index');
    let campusId = $("[name ='campus'][index ='" + index + "'] > option:selected").val()
    let building = $("[name ='building'][index ='" + index + "'] > option:selected").val()

    let oldval = $("[name ='room'][index ='" + index + "'] > option:selected")
    $.get("{{url_for('RoomAPI.index')}}", { campus: campusId, building: building })
        .done(function(data) {
            let index2 = $('[name =\'room\'][index ="' + index + '"] :selected').index()
            let selected = $('[name =\'room\'][index ="' + index + '"]').children()[index2]
            if (oldval.val() == 'None') {
                $("[name ='room'][index ='" + index + "']").html("<option value=\"None\" selected=\"\">None</option>")
            } else {
                if ($(selected).val() != $(selected).html()) {
                    $("[name ='room'][index ='" + index + "']").html(selected)
                } else {
                    $("[name ='room'][index ='" + index + "']").html("")
                }
            }
            for (let i = 0; i < data.length; i++) {
                let selected = ""
                if (oldval.val() == data[i]['roomid']) {
                    selected = "selected"
                }
                $("[name ='room'][index ='" + index + "']").append('<option ' + selected + ' value="' + data[i]['roomid'] + '">' + data[i]['name'] + '</option>');
            }
        });
}
sendconfig = function(id, e) {
    let index = $(e).attr('index');
    let campusId = $("[name ='campus'][index ='" + index + "'] > option:selected").text()
    let building = $("[name ='building'][index ='" + index + "'] > option:selected").val()
    let room = $(e).find("option:selected").val()
    if (campusId != 'None' && building != 'None' && room != 'None') {
        $.get("{{url_for('ADMIN.config')}}", { id: id, campus: campusId, building: building, room: room })
            .done(function(data) {
                location.reload();
            });
    }
}
</script>

</html>